# Data Cleaning

In [8]:
import pandas as pd


survey_path = "../data/01_raw/2020_Data_Professional_Salary_Survey_Responses.xlsx"

df1 = pd.read_excel(survey_path, skiprows=2)

In [9]:
df1.head()

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,...,NewestVersionInProduction,OldestVersionInProduction,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2020,2020-01-04 18:50:34.328,115000.0,United States,03,Microsoft SQL Server,15,"Microsoft SQL Server, MongoDB, Azure SQL DB (a...",Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2016,20K-99K (large town),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
1,2020,2020-01-04 10:43:01.821,100000.0,United States,NaN,Other,6,MySQL/MariaDB,Full time employee,"Developer: App code (C#, JS, etc)",...,informix,informix,1M+ (metropolis),Private business,Not Asked,Prefer not to say,Male,Not Asked,Not Asked,1
2,2020,2020-01-04 09:51:45.885,100000.0,Spain,28046,Microsoft SQL Server,2,MySQL/MariaDB,Full time employee,Other,...,SQL Server 2017,SQL Server 2017,1M+ (metropolis),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
3,2020,2020-01-04 01:08:53.605,70000.0,United States,94133,Microsoft SQL Server,3,Microsoft Access,Full time employee,Analyst,...,SQL Server 2016,SQL Server 2012,1M+ (metropolis),Private business,Not Asked,Change both employers and roles,Male,Not Asked,Not Asked,1
4,2020,2020-01-03 15:28:54.163,110000.0,United States,95354,Oracle,30,"Microsoft SQL Server, Oracle, MySQL/MariaDB, P...",Full time employee,DBA (General - splits time evenly between writ...,...,SQL Server 2016,SQL Server 2008R2,100K-299K (city),Non-profit,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1

## Sélection des datas provennant des USA seulement

In [10]:

df1 = df1[df1.Country == "United States"]
df1.head()

,Survey Year,Timestamp,SalaryUSD,Country,PostalCode,PrimaryDatabase,YearsWithThisDatabase,OtherDatabases,EmploymentStatus,JobTitle,...,NewestVersionInProduction,OldestVersionInProduction,PopulationOfLargestCityWithin20Miles,EmploymentSector,LookingForAnotherJob,CareerPlansThisYear,Gender,OtherJobDuties,KindsOfTasksPerformed,Counter
0,2020,2020-01-04 18:50:34.328,115000.0,United States,03,Microsoft SQL Server,15,"Microsoft SQL Server, MongoDB, Azure SQL DB (a...",Full time employee,DBA (Production Focus - build & troubleshoot s...,...,SQL Server 2019,SQL Server 2016,20K-99K (large town),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
1,2020,2020-01-04 10:43:01.821,100000.0,United States,NaN,Other,6,MySQL/MariaDB,Full time employee,"Developer: App code (C#, JS, etc)",...,informix,informix,1M+ (metropolis),Private business,Not Asked,Prefer not to say,Male,Not Asked,Not Asked,1
3,2020,2020-01-04 01:08:53.605,70000.0,United States,94133,Microsoft SQL Server,3,Microsoft Access,Full time employee,Analyst,...,SQL Server 2016,SQL Server 2012,1M+ (metropolis),Private business,Not Asked,Change both employers and roles,Male,Not Asked,Not Asked,1
4,2020,2020-01-03 15:28:54.163,110000.0,United States,95354,Oracle,30,"Microsoft SQL Server, Oracle, MySQL/MariaDB, P...",Full time employee,DBA (General - splits time evenly between writ...,...,SQL Server 2016,SQL Server 2008R2,100K-299K (city),Non-profit,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1
5,2020,2020-01-03 15:06:14.882,79500.0,United States,78727,Oracle,2,NaN,Full time employee,Analyst,...,Oracle R12,Oracle 11g,1M+ (metropolis),Private business,Not Asked,"Stay with the same employer, same role",Male,Not Asked,Not Asked,1

## Sélection des colonnes

In [11]:
df1 = df1[
    ["SalaryUSD",
     "PostalCode",
     "Gender",
     "EmploymentStatus",
     "JobTitle",
     "YearsWithThisTypeOfJob",
     "HowManyCompanies",
     "OtherPeopleOnYourTeam"]
]
df1.head()

,SalaryUSD,PostalCode,Gender,EmploymentStatus,JobTitle,YearsWithThisTypeOfJob,HowManyCompanies,OtherPeopleOnYourTeam
0,115000.0,03,Male,Full time employee,DBA (Production Focus - build & troubleshoot s...,5,1 (this is the only company where I've had thi...,2
1,100000.0,NaN,Male,Full time employee,"Developer: App code (C#, JS, etc)",6,1 (this is the only company where I've had thi...,More than 5
3,70000.0,94133,Male,Full time employee,Analyst,3,1 (this is the only company where I've had thi...,2
4,110000.0,95354,Male,Full time employee,DBA (General - splits time evenly between writ...,25,3,None
5,79500.0,78727,Male,Full time employee,Analyst,2,1 (this is the only company where I've had thi...,None

## Recherche des valeurs manquantes

In [12]:
print(df1.isnull().sum()) 
print(df1.shape)

SalaryUSD                   0
PostalCode                466
Gender                      0
EmploymentStatus            0
JobTitle                    0
YearsWithThisTypeOfJob      0
HowManyCompanies            0
OtherPeopleOnYourTeam       0
dtype: int64
(5680, 8)

466 codes postaux sont manquants